@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>WANTSOME</b><br />
    Str. Colonel Langa nr. 17<br />
    cladirea Centris, parter<br />
    <abbr title="Phone">P:</abbr>
    +40 744 790305<br />
    <a href="https://wantsome.ro/">wantsome.ro</a>
</address>

<address>
    <strong>CURSANTI:</strong><br />
    <strong>Simona CALENTIR </strong>   <a href="mailto:simona.calentir@gmail.com">simona.calentir@gmail.com</a><br />
    <strong>Monica DANCA </strong> <a href="mailto:monica.danca@gmail.com">monica.danca@gmail.com</a>
</address>