
@model IList<SchoolJournalModels.Persons>

<div>
    <br />
    Number of employees: @Model.Count <br /><br />

    <table style="width:80%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pers in Model)
            {
                <tr>
                    <td>@pers.PersonName</td>
                    <td>@pers.PersonEmail</td>
                    <td>@Html.ActionLink("Edit","Details","Home", new { @id = pers.PersonID},null)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
