@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p style="text-align:center">
        <img src="~/images/coperta.jpg" alt="coperta.jpg" class="img-rounded" style="width:100%;height:100%"/>
    </p>
</div>

@*<div class="row">
    <div class="col-md-3">
        <h2>Nomenclatoare</h2>
        <p>
            ...
        </p>
        <p>@Html.ActionLink("Persons", "Index", "Persons")</p>
    </div>
    <div class="col-md-3">
        <h2>In lucru</h2>
        <p>
            ...
        </p>
        <p><a class="btn btn-default" href="">No link &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>In lucru</h2>
        <p>
            ...
        </p>
        <p><a class="btn btn-default" href="">No link &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>In lucru</h2>
        <p>
            ...
        </p>
        <p><a class="btn btn-default" href="">No link &raquo;</a></p>
    </div>
</div>*@